{% extends "base/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to Object Detection</h1>
            <p class="lead">Detect objects in images with ease.</p>
            <hr class="my-4">
            <p>Upload an image and choose the objects to count.</p>
            <a class="btn btn-primary btn-lg" href="/upload/" role="button">Get Started</a>
        </div>
    </div>
</div>
{% endblock %}
