{% extends 'base/base.html' %}

{% block content %}
  <h1>Detection Results</h1>
  
  <!-- Display the detected objects as JSON -->
  <h2>Detected Objects (JSON):</h2>
  <pre>{{ detection_result.detected_objects }}</pre>

  <!-- Display the detected image -->
  <h2>Detected Image:</h2>
  <img src="{{ detection_result.image.url }}" alt="Detected Image">

  <!-- Link to go back to the upload page -->
  {% comment %} <a href="{% url 'upload' %}">Upload another image</a> {% endcomment %}
{% endblock %}
